body{
    font-family: Arial, sans-serif;
    background-color:rgb(171, 159, 220);
    padding: 50px;
}
.container{
    background-color: white;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
    max-width: 600px;
    margin: auto;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}
.footer_box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin: 0; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}